# Файл .gitignore за общи проекти
scriptnes-service-pdf.py

# Игнориране на системни файлове
.DS_Store
Thumbs.db

# Игнориране на директории за временни файлове от IDEs
.idea/
.vscode/
*.sublime-workspace


# Игнориране на yarn.lock файл
yarn.lock

# Игнориране на директории за сглобяване и зависимости
node_modules/
bower_components/
dist/
tmp/
out/
data/
helpers/

# Игнориране на файлове за секретни ключове
.env
.env.production
.secret

# Игнориране на лог файлове и бази данни
*.log
*.sql
*.sqlite

# Игнориране на архиви и други изпълними файлове
*.zip
*.tar.gz
*.exe
*.dll
*.jar

# Игнориране на файлове за документация и отчети
*.pdf
*.docx
*.xlsx
README.md

# Други файлове и директории, които може да искате да игнорирате
coverage/
*.bak
*.tmp
*.swp