<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./favicon/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/vue2-datepicker/index.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app" class="container mt-5">
      <div v-if="isLoading" class="loading-bar"></div>
      <div v-if="specificInfo.length" class="alert alert-info">
        <h1 class="specific-info mb-0">{{ specificInfo[0] }}</h1>
        <h4 class="todo-header">Todo List - {{ totalTodos }}</h4>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="text-left">
          <button class="btn btn-secondary" @click="toggleButtonGroup">
            <i class="fas fa-cog"></i>
          </button>
        </div>
      </div>
      <div v-show="buttonGroupVisible" class="mb-4">
        <input type="file" id="pdfInput" class="d-none" @change="importPdf" />
        <button class="btn btn-warning" @click="triggerPdfInput">
          <i class="fas fa-file-pdf"></i>
          <span class="d-none d-sm-inline"> Import PDF</span>
        </button>
        <button class="btn btn-warning" @click="toggleExpandAll">
          <i class="fas fa-expand"></i>
          <span class="d-none d-sm-inline"> {{ allExpanded ? 'Collapse' : 'Expand' }}</span>
        </button>
      </div>
      <div id="accordion">
        <div class="card" v-for="(todo, todoIndex) in todos" :key="todoIndex" :style="getCardStyle(todoIndex)">
          <div class="card-header d-flex justify-content-between align-items-center" :id="'heading' + todoIndex">
            <div v-if="editableHeader === todoIndex" class="flex-grow-1">
              <input v-model="headerEdits" class="form-control w-100" />
              <div class="d-flex mt-2">
                <button class="btn btn-sm btn-success mr-2" @click="saveHeaderEdit(todoIndex)">Save</button>
                <button class="btn btn-sm btn-secondary" @click="cancelHeaderEdit()">Cancel</button>
              </div>
            </div>
            <div v-else class="d-flex justify-content-between align-items-center w-100">
              <h5 class="mb-0 flex-grow-1">
                <button class="btn btn-link" @click="toggleCollapse(todoIndex)">
                  {{ todo.name || 'Enter your name here..' }}
                </button>
              </h5>
              <button class="btn btn-sm btn-warning" @click.stop="editHeader(todoIndex, todo.name)">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
          <div
            :id="'collapse' + todoIndex"
            class="collapse"
            :class="{ show: collapseStatus[todoIndex] }"
            :aria-labelledby="'heading' + todoIndex"
            data-parent="#accordion"
          >
            <div class="card-body">
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                  v-for="(task, taskIndex) in todo.tasks"
                  :key="taskIndex"
                >
                  <div v-if="todo.editableTask === taskIndex">
                    <input v-model="todo.taskEdits" class="form-control" />
                    <button class="btn btn-sm btn-success" @click="saveTaskEdit(todo, taskIndex)">Save</button>
                    <button class="btn btn-sm btn-secondary" @click="cancelTaskEdit(todo)">Cancel</button>
                  </div>
                  <div v-else class="d-flex justify-content-between align-items-center w-100">
                    <span @click="toggleTask(todo, task)" :class="{ 'completed': isTaskCompleted(todo, task) }"
                      >{{ task }}</span
                    >
                    <span>
                      <div class="btn-group" v-if="isSmallScreen">
                        <button type="button" class="btn btn-sm btn-secondary" @click="toggleTaskMenu(todo, taskIndex)">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div v-show="todo.taskMenuVisible === taskIndex" class="dropdown-menu dropdown-menu-right show">
                          <button class="dropdown-item" @click="editTask(todo, taskIndex, task)">
                            <i class="fas fa-edit"></i> Edit
                          </button>
                          <button class="dropdown-item" @click="deleteTask(todo, taskIndex)">
                            <i class="fas fa-trash"></i> Delete
                          </button>
                          <button class="dropdown-item" @click="insertTaskBelow(todo, taskIndex)">
                            <i class="fas fa-plus"></i> Insert Below
                          </button>
                          <button class="dropdown-item" @click="moveTaskDown(todo, taskIndex)">
                            <i class="fas fa-arrow-down"></i> Move Down
                          </button>
                        </div>
                      </div>
                      <div v-else>
                        <button class="btn btn-sm btn-warning" @click="editTask(todo, taskIndex, task)">
                          <i class="fas fa-edit"></i> <span></span>
                        </button>
                        <button class="btn btn-sm btn-danger" @click="deleteTask(todo, taskIndex)">
                          <i class="fas fa-trash"></i> <span></span>
                        </button>
                        <button class="btn btn-sm btn-success" @click="insertTaskBelow(todo, taskIndex)">
                          <i class="fas fa-plus"></i> <span></span>
                        </button>
                        <button class="btn btn-sm btn-primary" @click="moveTaskDown(todo, taskIndex)">
                          <i class="fas fa-arrow-down"></i> <span></span>
                        </button>
                      </div>
                    </span>
                  </div>
                </li>
              </ul>
              <div class="mt-3">
                <p><strong>Select Start Date:</strong></p>
                <vuejs-datepicker
                  v-model="todo.startDate"
                  :typeable="true"
                  :use-utc="true"
                  :disabled-dates="getDisabledDates()"
                  class="datepicker-upwards"
                >
                </vuejs-datepicker>
              </div>
              <div class="mt-3">
                <input type="text" v-model="todo.newTask" placeholder="New Task" class="form-control mb-2" />
                <button class="btn btn-primary" @click="addTask(todo)">Add Task</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <script type="module">
      import config from './config/config.js';

      Vue.component("vuejs-datepicker", window.vuejsDatepicker);

      new Vue({
        el: "#app",
        data: {
          todos: [],
          headerText: "",
          fullText: [],
          specificInfo: [],
          tourName: "Tour Name",
          tourNumber: "Tour Number",
          tourModel: "Day-Model",
          tourNameEdit: "",
          tourNumberEdit: "",
          tourModelEdit: "",
          editableTourDetails: false,
          collapseStatus: [],
          editableTask: null,
          taskEdits: "",
          editableHeader: null,
          headerEdits: "",
          buttonGroupVisible: false,
          allExpanded: false,
          windowWidth: window.innerWidth,
          id: uuid.v4(),
          createdAt: new Date().toISOString(),
          updatedAt: new Date().toISOString(),
          isLoading: false,
        },
        computed: {
          isSmallScreen() {
            return this.windowWidth <= 800;
          },
          totalTodos() {
            return this.todos.length;
          },
        },
        methods: {
          updateWindowWidth() {
            this.windowWidth = window.innerWidth;
          },
          toggleButtonGroup() {
            this.buttonGroupVisible = !this.buttonGroupVisible;
          },
          toggleExpandAll() {
            this.allExpanded = !this.allExpanded;
            this.collapseStatus = this.todos.map(() => this.allExpanded);
          },
          toggleTask(todo, task) {
            const index = todo.completedTasks.indexOf(task);
            if (index === -1) {
              todo.completedTasks.push(task);
            } else {
              todo.completedTasks.splice(index, 1);
            }
            this.updatedAt = new Date().toISOString();
          },
          isTaskCompleted(todo, task) {
            return todo.completedTasks.includes(task);
          },
          toggleCollapse(index) {
            this.$set(this.collapseStatus, index, !this.collapseStatus[index]);
          },
          getCardStyle(index) {
            const darkColors = this.generateDarkColors();
            return {
              backgroundColor: darkColors[index % darkColors.length],
              color: "white",
            };
          },
          generateDarkColors() {
            return ["#3a3f5c", "#2e3b4e", "#1f487e", "#73556a", "#4e4e4e", "#333333", "#565c6d", "#6a6a6a"];
          },
          fetchData() {
            const currentDate = new Date();
            this.todos = [
              {
                name: "",
                startDate: currentDate,
                tasks: ["Task 1", "Task 2", "Task 3"],
                completedTasks: [],
                editableTask: null,
                taskEdits: "",
                taskMenuVisible: null,
                newTask: "",
              },
            ];
            this.todos.forEach(() => {
              this.collapseStatus.push(false);
            });
          },
          addTask(todo) {
            if (todo.newTask.trim()) {
              todo.tasks.push(todo.newTask.trim());
              todo.newTask = "";
              this.updatedAt = new Date().toISOString();
            }
          },
          insertTaskBelow(todo, taskIndex) {
            const newTask = prompt("Enter the new task");
            if (newTask && newTask.trim()) {
              todo.tasks.splice(taskIndex + 1, 0, newTask.trim());
              this.updatedAt = new Date().toISOString();
            }
          },
          editTask(todo, taskIndex, task) {
            todo.editableTask = taskIndex;
            todo.taskEdits = task;
            todo.taskMenuVisible = null;
          },
          saveTaskEdit(todo, taskIndex) {
            if (todo.taskEdits.trim()) {
              this.$set(todo.tasks, taskIndex, todo.taskEdits.trim());
              todo.editableTask = null;
              todo.taskEdits = "";
              this.updatedAt = new Date().toISOString();
            }
          },
          cancelTaskEdit(todo) {
            todo.editableTask = null;
            todo.taskEdits = "";
          },
          deleteTask(todo, taskIndex) {
            todo.tasks.splice(taskIndex, 1);
            this.updatedAt = new Date().toISOString();
          },
          moveTaskDown(todo, taskIndex) {
            const task = todo.tasks.splice(taskIndex, 1)[0];
            let newIndex = (taskIndex + 1) % (todo.tasks.length + 1);

            if (newIndex === todo.tasks.length) {
              todo.tasks.push(task);
            } else {
              todo.tasks.splice(newIndex, 0, task);
            }
            this.updatedAt = new Date().toISOString();
          },
          editHeader(index, name) {
            this.editableHeader = index;
            this.headerEdits = name;
          },
          saveHeaderEdit(index) {
            if (this.headerEdits.trim()) {
              this.$set(this.todos[index], "name", this.headerEdits.trim());
              this.editableHeader = null;
              this.headerEdits = "";
              this.updatedAt = new Date().toISOString();
            }
          },
          cancelHeaderEdit() {
            this.editableHeader = null;
            this.headerEdits = "";
          },
          getDisabledDates() {
            const today = new Date();
            today.setHours(0, 0, 0, 0);
            const yesterday = new Date(today);
            yesterday.setDate(today.getDate() - 1);
            return {
              to: yesterday,
            };
          },
          triggerPdfInput() {
            document.getElementById("pdfInput").click();
          },
          async importPdf(event) {
            const file = event.target.files[0];
            const formData = new FormData();
            formData.append("file", file);

            this.isLoading = true;

            try {
              const response = await fetch(`${config.serverUrl}/extract-pdf`, {
                method: "POST",
                body: formData,
              });

              if (!response.ok) {
                throw new Error("Network response was not ok");
              }

              const pdfData = await response.json();
              console.log("Extracted PDF Data:", pdfData);

              this.todos = [];
              this.headerText = pdfData.header_text || "";
              this.fullText = pdfData.full_text || [];
              this.specificInfo = pdfData.specific_info || [];

              this.populateFromPdfData(pdfData.tables);
            } catch (error) {
              console.error("Error importing PDF:", error);
              alert("Error importing PDF: " + error.message);
            } finally {
              this.isLoading = false;
            }
          },
          populateFromPdfData(pdfData) {
            console.log("Populating from PDF Data:", pdfData);

            this.todos = pdfData.map((item, index) => ({
              id: index,
              name: item.title || "Unnamed Task",
              startDate: new Date(),
              tasks: [
                `Beginn: ${item.details.Beginn}`,
                `Ende: ${item.details.Ende}`,
                `Abhol: ${item.details.Abhol}`,
                `Dauer: ${item.details.Dauer}`,
                `Bemerkungen: ${item.details.Bemerkungen}`,
              ],
              completedTasks: [],
              editableTask: null,
              taskEdits: "",
              taskMenuVisible: null,
              newTask: "",
            }));
            this.updatedAt = new Date().toISOString();
          },
          toggleTaskMenu(todo, taskIndex) {
            this.$set(todo, "taskMenuVisible", todo.taskMenuVisible === taskIndex ? null : taskIndex);
          },
        },
        mounted() {
          this.fetchData();
          window.addEventListener("resize", this.updateWindowWidth);
        },
        beforeDestroy() {
          window.removeEventListener("resize", this.updateWindowWidth);
        },
      });
    </script>
  </body>
</html>
